@font-face {
    font-family: 'Merriweather Script';
    src: local('Merriweather Script'), url('font/Merriweather-Light.ttf') format('truetype');
}

body {
    font-family: "Merriweather Script";
    background-image: url("images/screens/blank.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-size: 1.145vw;
    height: 100vh;
    cursor: url("images/cursor3.cur"), default;
}

p {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style-type: none;
}

#pbTime {
    margin-top: 42%;
    font-size: 2.5vw;
    color: rgb(220, 150, 50, 0.8);
}

.btn-dark {
    display: block;
    background-color: #575757;
    width: 5.9vw;
    height: 4.7vh;
    font-size: 1.04vw;
    white-space: nowrap;
}

.btn-success {
    background-color: DarkSeaGreen;
    display: block;
    width: 5.9vw;
    height: 4.7vh;
    font-size: 1.04vw;
}

/* <POP UP> */
.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
}

.flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-screen {
    color: white
}

.hidden {
    display: none;
}

button:hover {
    cursor: url("images/cursor3.cur"), default;
}

/* </POPUP> */
/*no copy text*/
.no-copy {
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}